.wrapper {
    max-width: 960px;
    min-height: 1380px;
    /* height: 1380px; */
    min-width: 480px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: #2d2d2d;
    overflow: hidden;
    box-shadow: 0 0 2px #000;
}

.cv-header {
    min-height: 130px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #353c4c;
    background: linear-gradient(90deg, #111318 0%, #57627d 50%, #111318 100%);
    box-shadow: 0px 3px 4px #000000b5;
    position: relative;
    z-index: 5;
}

.cv-header h1 {
    font-size: 60px;
    line-height: 1.6;
    color: rgb(230, 230, 230);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

.cv-owner {
    padding: 10px;
}

.cv-owner h2 {
    color: rgb(235, 219, 170);
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    font-size: 16px;
}

.owner-photo {
    padding: 6px;
    box-shadow: inset 0px 1px 2px 1px #000000c4;
    border-radius: 10px;
    position: relative;
}

.owner-photo img {
    display: block;
    max-width: 136px;
    height: auto;
    box-shadow: 0px 1px 3px 2px #000000b0;
    border-radius: 6px;
}

.cv-header-social {
    padding: 2px 0;
    width: 100%;
    background-color: #e1e1e1;
    background: url(../img/bg_stell.jpg);
    border-top: 1px solid #ffffff;
    border-bottom: 2px solid #2d3842;
    margin: 15px 0 10px;
    min-height: 40px;
}

.cv-header-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 75px;
}

.cv-header-social li {
    margin: 0px 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: inset 0px 1px 2px 1px #000000c4;
}

.cv-header-social a {
    display: block;
    width: 35px;
    border-radius: 3px;
    background-color: #353c4c;
    background: linear-gradient(0deg, #111318 0%, #57627d 50%, #111318 100%);
    border-top: 1px solid #b1b3c0;
    box-shadow: 0px 1px 2px 1px #0000007d;
    margin: 4px 10px;
}

.cv-header-social a:hover {
    background-color: #353c4c;
    background: linear-gradient(0deg, #111318 0%, #464f66 50%, #111318 100%);
    border-top: 1px solid #1e1e20;
    box-shadow: inset 0px 1px 4px 1px #000000c4;
}

.cv-header-social img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.cv-header-social a:hover img {
    width: 92%;
    padding: 4% 0;
}

.cv-main {
    font-size: 22px;
    line-height: 1.2;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.cv-main aside {
    font-size: 20px;
}

.vacancy-description {
    width: 100%;
    padding: 35px 0 30px;
    text-align: center;
    box-sizing: border-box;
    background-color: #bcbcbc;
    font-weight: bold;
    order: 0;
    border-bottom: 1px solid #828282;
}

.cv-main aside {
    width: 32%;
    padding: 60px 15px 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 1;
    background-color: #f6f6f6;
}

.cv-main .cv-content article {
    margin-bottom: 40px;
}

.cv-main aside article {
    margin-bottom: 30px;
}

.cv-main h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.cv-main aside h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #2d2d2d59;
    line-height: 1.2;
}

.cv-content h2 {
    margin-left: -15px;
}

.cv-content {
    padding: 40px 30px 0 45px;
    width: 68%;
    background-color: #e7e7e7;
    box-sizing: border-box;
    box-shadow: inset 6px 0px 5px -2px #00000094;
    order: 2;
}

aside label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contacts img,
.portfolio img,
.hobbies img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.contacts a,
.portfolio a {
    text-decoration: none;
    color: #2d2d2d;
}

.portfolio-label {
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0px 1px 2px 1px #000000c4;
    display: inline-block;
    margin-top: 20px;
}

.portfolio a {
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px #0000007d;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.portfolio a:hover {
    box-shadow: 0px 0px 1px 1px #000000c4;
}

aside .portfolio h2 {
    margin-bottom: 0px;
    border-bottom: none;
    padding: 0 10px;
    box-sizing: border-box;
}

.contacts a:hover,
.portfolio a:hover {
    color: #b44328;
}

.professional-skill div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: -15px;
    cursor: pointer;
}

.professional-skill img {
    display: block;
    height: 40px;
    width: auto;
}

.professional-skill div:hover img {
    filter: grayscale(1);
}

.education p,
.courses p {
    padding: 5px 0;
    position: relative;
    border-left: 2px solid #2d2d2d59;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education p::before,
.courses p::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #24262d;
    border-radius: 8px;
    border: solid 4px #b9c4ca;
    display: block;
    position: absolute;
    top: 6px;
    left: -9px;
}

.cv-main span {
    font-weight: bold;
}

.education span {
    min-width: 100px;
    text-align: right;
}

.cv-footer {
    background-color: #353c4c;
    background: linear-gradient(90deg, #111318 0%, #57627d 50%, #111318 100%);
    padding: 15px 0 25px;
}

.cv-footer-content {
    color: rgb(235, 219, 170);
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

.cv-footer p {
    margin: 15px 0;
    display: inline-block;
    padding: 0 5px;
    text-transform: none;
}

/* ----------------- */
.button-block-line {
    background-color: #e1e1e1;
    background: url(../img/bg_stell.jpg);
    border-top: 1px solid #ffffff;
    border-bottom: 2px solid #2d3842;
    margin: 10px 0 5px;
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.contact-link-wrapper {
    display: inline-block;
    border-radius: 5px;
    margin: 0 15px 4px;
    box-shadow: inset 0px 1px 2px 1px #000000c4;
}

.contact-link-wrapper a {
    display: block;
    border-radius: 5px;
    margin: 5px;
    background-color: #353c4c;
    background: linear-gradient(0deg, #111318 0%, #57627d 50%, #111318 100%);
    border-top: 1px solid #b1b3c0;
    box-shadow: 0px 1px 2px 1px #0000007d;
    padding: 5px;
}

.contact-link-wrapper a img {
    display: block;
    width: 40px;
    height: auto;
    margin: 0 auto;
}

.contact-link-wrapper a:hover {
    background-color: #353c4c;
    background: linear-gradient(0deg, #111318 0%, #464f66 50%, #111318 100%);
    border-top: 1px solid #1e1e20;
    box-shadow: inset 0px 1px 4px 1px #000000c4;
}

.contact-link-wrapper a:hover img {
    width: 36px;
    margin: 2px;
    height: auto;
}


@media screen and (max-width: 800px) {
    .cv-main {
        flex-direction: column;
    }

    .vacancy-description {
        border-bottom: none;
        box-shadow: 0px 3px 4px #000000b5;
        position: relative;
        z-index: 3;
    }

    .cv-main aside {
        width: 100%;
        padding: 20px;
        flex-direction: initial;
        justify-content: space-around;
        background-color: #e7e7e7;
        box-shadow: 0px 3px 4px #000000b5;
        position: relative;
        z-index: 2;
        /* order: 3; */
    }

    .cv-main aside article {
        margin-bottom: 0;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    aside label {
        padding: 0 5px;
    }

    .cv-main aside p {
        padding: 0 10px;
    }

    .cv-main h2 {
        width: 100%;
    }

    .cv-content {
        width: 100%;
        box-shadow: none;
        padding: 30px 20px 0 35px;
        background-color: #f6f6f6;
    }

    .contact-link-wrapper a img {
        width: 60px;
    }

    .contact-link-wrapper a:hover img {
        width: 56px;
        margin: 2px;
    }

    .cv-footer {
        box-shadow: 0px -2px 4px #000000b5;
        position: relative;
        z-index: 5;
    }
}

@media screen and (max-width: 600px) {
    .cv-main {
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    .cv-header {
        flex-direction: column;
    }

    .cv-header h1 {
        line-height: 1.4;
    }

    .cv-owner {
        text-align: center;
        padding-top: 0;
        margin-top: -15px;
    }

    .cv-header-social ul {
        justify-content: center;
        margin-right: 0;
    }

    .button-block-line {
        justify-content: center;
    }
}