.wrapper {
    /* max-width: 960px; */
    width: 956px;
    /* min-height: 1380px; */
    height: 1380px;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: #2d2d2d;
    overflow: hidden;
    box-shadow: 0 0 2px #000;
}

.cv-header {
    min-height: 130px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #353c4c;
    background: linear-gradient(90deg, #111318 0%, #57627d 50%, #111318 100%);
    box-shadow: 0px 5px 7px #0000008c;
    z-index: 5;
}

.cv-header h1 {
    font-size: 60px;
    line-height: 1.6;
    color: rgb(230, 230, 230);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

.cv-owner h2 {
    color: rgb(235, 219, 170);
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    font-size: 16px;
}

.owner-photo {
    padding: 5px;
    box-shadow: inset 0px 1px 2px 1px #000000c4;
    border-radius: 75px;
    position: relative;
}

.owner-photo img {
    display: block;
    max-width: 136px;
    height: auto;
    box-shadow: 0px 1px 3px 2px #000000b0;
    border-radius: 70px;
    padding: 3px;
}

.cv-title-steel {
    width: 100%;
    background-color: #e1e1e1;
    background: url(../img/bg_stell.jpg);
    border-top: 1px solid #ffffff;
    border-bottom: 2px solid #2d3842;
    margin: 15px 0 10px;
    min-height: 40px;
}

.cv-title-stroke {
    display: inline-block;
    margin: 0 auto;
    border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0px 1px 2px 1px #000000c4;
}

.cv-title-stroke h2 {
    padding: 0 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-radius: 25px;
    margin-top: 2px;
    /* box-shadow: 0px 1px 3px 2px #000000b0; */
    color: #2d2d2dab;
}

.cv-main {
    font-size: 22px;
    line-height: 1.2;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cv-main aside {
    font-size: 20px;
}

.vacancy-description {
    width: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    background-color: #b9c4ca;
    box-shadow: inset 0px 6px 3px -3px #00000094;
    font-weight: bold;
}

.cv-main aside {
    width: 32%;
    padding: 60px 15px 30px 20px;
    box-sizing: border-box;
}

.cv-main .cv-content article {
    margin-bottom: 20px;
}

.cv-main aside article {
    margin-bottom: 30px;
}

.cv-main h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.cv-main aside h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #2d2d2d59;
    line-height: 1.2;
}

.cv-content h2 {
    margin-left: -15px;
}

/* .language p,
.about-me p,
.hobbies p {
    margin-bottom: 10px;
} */

.cv-content {
    padding: 30px 30px 0 45px;
    width: 67%;
    background-color: #e7e7e7;
    box-sizing: border-box;
    box-shadow: inset 6px 0px 5px -2px #00000094;
}

.contacts label,
.portfolio label,
.hobbies label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contacts img,
.portfolio img,
.hobbies img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}


.contacts a,
.portfolio a {
    text-decoration: none;
    color: #2d2d2d;
}

.contacts a:hover,
.portfolio a:hover {
    color: #b0533d;
}

.professional-skill div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: -15px;
    cursor: pointer;
}

.professional-skill img {
    display: block;
    height: 40px;
    width: auto;
    filter: grayscale(1);
}

.professional-skill div:hover img {
    filter: grayscale(0);
}

.education p,
.courses p {
    padding: 5px 0;
    position: relative;
    border-left: 2px solid #2d2d2d59;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.education p::before,
.courses p::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #24262d;
    border-radius: 8px;
    border: solid 4px #b9c4ca;
    display: block;
    position: absolute;
    top: 6px;
    left: -9px;
}

.cv-main span {
    font-weight: bold;

}

.cv-footer {
    background-color: #353c4c;
    background: linear-gradient(90deg, #111318 0%, #57627d 50%, #111318 100%);
    padding-top: 15px;
    min-height: 160px;
}

.cv-footer-social {
    padding: 2px 0;

    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #2d3842;
    background-color: #e1e1e1;
    background: url(../img/bg_stell.jpg);
}

.cv-footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

.cv-footer li {
    margin: 0px 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: inset 0px 1px 2px 1px #000000c4;
}

.cv-footer-social a {
    display: block;
    width: 35px;
    border-radius: 3px;
    background-color: #50545b;
    background: linear-gradient(0deg, #1e1e20, #808792);
    border-top: 1px solid #b1b3c0;
    box-shadow: 0px 1px 2px 1px #0000007d;
    margin: 4px 10px;
}

.cv-footer-social a:hover {
    background-color: #44474d;
    background: linear-gradient(0deg, #808792, #1e1e20);
    border-top: 1px solid #1e1e20;
    box-shadow: inset 0px 1px 4px 1px #000000c4;
}

.cv-footer-social img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.cv-footer-social a:hover img {
    width: 92%;
    padding: 4% 0;
}

.cv-footer-content {
    color: rgb(235, 219, 170);
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

.cv-footer p {
    margin: 15px 0;
    display: inline-block;
    padding: 0 5px;
    text-transform: none;
}